body, html{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
ul, li, p, a, label, input, div {
    font-family: 'Roboto', sans-serif;
}
.h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px !important;
    font-weight: 200 !important;
}
.h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px !important;
    font-weight: 300;
}
.h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px !important;
}
section{
    float: left;
    width: 100%;
  }
#navbar{
    position: relative;
    left: 100px;
    color: #ca9e0d;
}


.left{
    position: relative;
    left: 80%;
}
.bg{
    padding: 0;
    height: 100%;
    background: url("../img/background.jpg") fixed center center; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-white{
    background-color: #ffffff;
}
.bg-tema{
    background-color: #1238a1;
}

/*border*/
.border{
    border-radius: 15px;
}
.border-img{
    border-radius: 100%;
}
.border-line{
    border: 2px solid darkblue;
}

/*text*/
.text-white { 
    color: #ffffff !important;
}
.text-default { 
    color: #ca9e0d !important;
}
.center-text{
    position: relative;
    text-align: center;
}


/*halaman profile*/
.img-profile img{
    position: relative;
    left: 35%;
    top: 35px;
    width: 200px;
    height: 200px;
    border-radius: 100px;  
  }
  .form_profile{
    padding: 50px;
    margin: 10% auto;
    width: 700px;
    height: auto;
    background: rgba(40, 67, 141, 0.288);
    border-radius: 15px; 
  }
  .form_profile h1{
    position: relative;
    left: 36%;
    width: 200px;
    color: rgb(40, 67, 141);
    font-size: 24pt;
  }
  .form_profile .keterangan{
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 70px auto;
    height: 360px;
    width: 500px;
    border: 4px solid rgb(40, 67, 141);
    border-radius: 10px;
  }
  .form_profile .sub-keterangan{
    background-color: rgb(0, 160, 189);
  }
  .form_profile h3{
    color: rgb(0, 160, 189);
    margin-top: 36px;
    background-color: rgb(40, 67, 141);
  }
  .form_profile p{
    margin-top: -20px;
    font-size: 14pt;
    color: white;
  }

/*layanan*/
.form{
    float: left;
    margin-right: 25px;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 300px;
    height: 500px;
    background: rgba(40, 67, 141, 0.288);
    border-radius: 15px; 
  }
  .form h1{
    position: relative;
    left: 30px;
    top: 10px;
    font-size: 15pt;
    color: rgb(0, 25, 95);
  }
  .form .content{
    position: relative;
    margin: 0px 20px 20px 20px;
    color: rgb(40, 67, 141);
  }
  .form .content h1{
    position: relative;
    width: 100%;
    margin: 10px 20px 30px 20px;
    color: rgb(40, 67, 141);
  }
  .form .form-input{
    position: relative;
    margin: 50px 20px 20px 20px;
    color: rgb(40, 67, 141);
  }
  .form .form-input .form-group{
    position: relative;
    margin: 0px 20px 20px 20px;
  }
  .form .form-input .form-group input{
    width: calc(100% - 10px);
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgb(40, 67, 141);;
    color: rgb(66, 66, 66);
  }
  .form .form-input .submit input{
    width: calc(50%);
    padding: 8px 10px;
    margin-top: 35px;
    margin-left: 25%;
    margin-bottom: 15px;
    background-color: transparent;
    border: 2px solid rgb(40, 67, 141);;
    color: rgb(40, 67, 141);;
    border-radius: 10px;
  }
  .form .form-input .form-group select{
    width: calc(100% - 25px);
    padding: 8px 10px;
    margin-bottom: 15px;
    background-color: transparent;
    border: 2px solid rgb(40, 67, 141);;
    color: rgb(66, 66, 66);
    border-radius: 10px;
  }
  .form .form-input .submit input:hover{
    background-color: rgb(40, 67, 141);;
    border: 2px solid rgb(40, 67, 141);;
    color: rgb(255, 255, 255);
  }
  .hasil{
    float: left;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 800px;
    height: 500px;
    background: rgba(40, 67, 141, 0.288);
    border-radius: 15px; 
  }
  .hasil h1{
    position: relative;
    left: 30px;
    top: 10px;
    font-size: 15pt;
    color: rgb(0, 25, 95);
  }
  .hasil .content{
    position: relative;
    margin: 50px 20px 20px 30px;
    color: rgb(40, 67, 141);
  }
  .hasil .content .refrensi{ 
    clear: both;
    margin: 0;
  }
  .form .content .refrensi .link{
    color: rgb(40, 67, 141);
  }
  .form .content .refrensi .link:hover{
    color: rgb(16, 96, 255);
  }